/* General */
body {
  background: #fff;
}

body,
input,
textarea {
  color: #333;
  font: 16px/160% Arial, sans-serif;
}

a {
  color: #19A9E5;
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul,
code {
  margin: 0 0 20px;
}

/* Header */
header#header {
  background: #333;
  color: #fff;
  padding: 15px 20px;
}

header#header h1 {
  font-size: 16px;
  float: right;
  margin: 0;
}

header#header ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

header#header ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Content */
#content {
  padding: 15px 20px;
  position: relative;
}

#links {
  background: #eee;
  border-right: 1px solid #ddd;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 220px;
}

#links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#links ul li {
  border-bottom: 1px solid #ddd;
}

#links ul li a {
  display: block;
  padding: 10px 20px;
}

#references {
  margin-left: 220px;
}

#references .body code {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  border-radius: 3px;
  left: 20px;
  padding: 15px 20px;
}